.container {
    padding: 20px 0 0 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 300px auto;
}

.container > aside {
    /*background-color: red;*/
}

.container > section {
    /*background-color: green;*/
}

.welcome {
    text-align: center;
}

#external-events {
    /*position: fixed;*/
    /*z-index: 2;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*width: 150px;*/
    padding: 0 10px;
    /*border: 1px solid #ccc;*/
    /*background: #eee;*/
}

#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
    padding: 3px 7px;
    /*background-color:green;*/
}

#external-events p {
    margin-top: 10px;
}

/*.type1 {*/
/*    background-color: #F0E6FB;*/
/*    border-color: #7400D8;*/
/*    color: #7400D8;*/
/*}*/

/*.type2 {*/
/*    background-color: #FFF7F5;*/
/*    border-color: #FF6634;*/
/*    color: #000;*/
/*}*/
