<!--<div-->
<!--    class="welcome"-->
<!--    fxLayout="column"-->
<!--    fxLayout.gt-md="row"-->
<!--    fxLayoutGap.gt-md="20px"-->
<!--    fxLayoutAlign="center center"-->
<!--&gt;-->
<!--    <section>-->
<!--        <h1>ACTIVITY</h1>-->
<!--        <p>Stay active and enjoy better health and more fun!</p>-->
<!--    </section>-->
<!--    <section>-->
<!--        <h1>COMMUNITY</h1>-->
<!--        <p>Get to know other people who share your passion!</p>-->
<!--    </section>-->
<!--    <section>-->
<!--        <h1>CHALLENGES</h1>-->
<!--        <p>Never stop! Dive into new challenges every day</p>-->
<!--    </section>-->
<!--</div>-->
<div class="container">
<!--    <full-calendar [options]="calendarOptions"></full-calendar>-->
    <aside>
        <div id='external-events'>
            <p>
                <strong>Draggable Events</strong>
            </p>

            <div
                *ngFor="let event of events"
                class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event type1'
                data-key="key1"

                [attr.data-event]="JSON.stringify(event)"
                [style.backgroundColor]="event.backgroundColor"
                [style.borderColor]="event.borderColor"
                [style.color]="event.textColor"
            >
                <div>{{event.title}}</div>
            </div>

            <p>
                <input type='checkbox' id='drop-remove' />
                <label for='drop-remove'>remove after drop</label>
            </p>
        </div>
    </aside>
    <section class="calendar">
        <app-full-calendar></app-full-calendar>
    </section>

</div>
