.event-component2 {
    /*background-color: red;*/
    /*padding: 10px;*/
    /*height:100%;*/
    /*height: -webkit-fill-available;*/
    /*height: inherit;*/
    padding: 3px 7px;
    /*width: max-content;*/
}

.event-title2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.event-time2 {
    /*color: #835F5F;*/
}
