<!--<div class="event-component" [style.backgroundColor]="data?.backgroundColor">-->
<div class="event-component">
    <!--    <p>event works! {{data?.event._def.publicId}}</p>-->
    <div class="event-title">{{data?.event._def.title}}</div>
    <div
        class="event-time"
        [style]="
     {
        backgroundColor:data?.borderColor,
        padding: '2px 10px',
        width: 'max-content',
        borderRadius: '3px',
        margin: '5px 0'
     }
"
    >
        {{data?.timeText}}
    </div>
</div>
