/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #000;
    /*--fc-neutral-bg-color: rgba(208, 208, 208, 0.3);*/
    --fc-neutral-text-color: #808080;
    /*--fc-border-color: #e4e6e9;*/
    /*--fc-border-color: #dfdfdf;*/
    --fc-border-color: #ededed;

    --fc-today-bg-color: #efefef;

    /*--fc-border-color: transparent;*/
    /*--fc-bg-event-color: rgb(143, 223, 130);*/
    /*--fc-bg-event-opacity: 0.3;*/
    /*--fc-highlight-color: rgba(188, 232, 241, 0.3);*/
    /*--fc-today-bg-color: rgba(255, 220, 40, 0.15);*/
    /*--fc-today-bg-color: black;*/
    --fc-event-bg-color: transparent;
    --fc-event-border-color: transparent;
    /*--fc-daygrid-event-dot-width: 100px;*/
    /*--fc-small-font-size: 1em;*/

    --fc-button-text-color: #232B48;
    --fc-button-bg-color: transparent;
    --fc-button-border-color: transparent;
    --fc-button-hover-bg-color: #eee;
    --fc-button-hover-border-color: transparent;
    --fc-button-active-bg-color: #eee;
    --fc-button-active-border-color: transparent;
}


/*.fc-header-toolbar > div > * {*/
/*    !*display: inline-block;*!*/
/*    float: left;*/
/*}*/

button {
    box-shadow: none !important;
}

.fc-event {
    /*padding:10px;*/
    /*display: flex;*/
    /*background-color: green;*/
    /*border-radius: 10px;*/
    background-color: green;
}

.new-class {
    /*background-color: #E1342A;*/
}

.myclassname {
    /*border: 1px solid red;*/
    /*border: none;*/
    border-width: 1px;
    outline: none;
    box-shadow: none !important;
    /*border-radius: 4px;*/
    border-radius: 0;
    /*margin: 3px;*/
}

.day-grid-month {
    /*border: 1px solid red;*/
    /*border: none;*/
    /*border-width: 2px;*/
    /*border-top: 6px solid red;*/
    outline: none;
    box-shadow: none !important;
    /*border-radius: 4px;*/
    border-radius: 0;
    /*margin: 3px;*/
    margin: 0 10px 5px 10px !important;
}

/*a {*/
/*    outline: 1px dashed red;*/
/*}*/

/** {*/
/*    outline:none !important;*/
/*    outline-width: 0 !important;*/
/*    box-shadow: none;*/
/*    -moz-box-shadow: none;*/
/*    -webkit-box-shadow: none;*/
/*}*/

/*.fc-timegrid-slot {*/
/*    color: #6A7998;*/
/*}*/

/*.fc-timegrid-axis {*/
/*    color: #6A7998;*/
/*}*/

.fc-title {
    display: flex;
}

.fc-title > div {

}

.fc-title > div.letr {
    text-transform: uppercase;
    font-weight: bold;
    color: #232B48;
    margin-left: 6px;
}

.fc-title > div.num {
    margin-left: 6px;
    color: #B8BAC8;
    font-weight: 400;
}

/**
 * FullCalendar dayHeaders css
 */

.day-header {
    background-color: white;
    height: 50px;
    vertical-align: middle !important;
}

.header-cell {
    color: #707A88;
    font-weight: 500;
    text-transform: capitalize;
}

/**
 * FullCalendar Day-Cell css
 */

/*.fc-daygrid-day {*/
/*    opacity: 1 !important;*/
/*    background-color:red;*/
/*}*/

/*.fc-day-other {*/
/*    opacity: 1 !important;*/
/*    background-color:red;*/
/*}*/

.fc-day-other .fc-daygrid-day-top {
    opacity: 1 !important;
    /*background-color:red;*/
    color: #afafaf;
}

.fc-day-other .day-cell {
    background-color: #f7f7f7;
}

.day-cell-th {
    /*background-color: darkgreen;*/
}

.day-cell {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    /*text-align: center;*/
    font-weight: 600;
    padding: 10px;
}

.slot-cell {
    color: #707A88;
}

.fc-popover {
    border: 1px solid #ddd !important;
}

.fc-popover .fc-popover-header {
    background-color: white;
}

.fc-popover .fc-popover-body {
    padding: 0 !important;
    position: relative;
}

.time-grid-more-link {
    background-color: red;
    border: 0;
    box-shadow: none;
    height: fit-content;
    /* font-size: 12px; */
    line-height: 1;
    left: 0;
    right: unset !important;
}

/**
 * FullCalendar nowIndicator
 */

.now-indicator {
    /*background-color: green;*/
}
